link(rel='stylesheet', href='style.scss')
    .loader
    .track
        .mouse
    .face
        .ears-container
        .eyes-container
            .eye
            .eye
        .phiz
            .nose
            .lip
            .mouth